# Police data crime analysis for the city of London in 2024-2025 years
## Part 1
### The task for this Notebook to create a new data base, set up its structure, load the London Crime data and check that the data can be extracted from the data base.
I used PostgreSQL 18.0 server for my Data Base.
The first step to check the data which was downloaded from https://data.police.uk:

In [2]:
import pandas as pd

### The data set contained many columns with repeat values. To save memory I decided to split the data in 3 tables:
crime_records
crime_type
lsoa
4 columns in the data set have the same values or no values so I decided to drop them.
The columns that weren't included in the new **crimedb**:
'Reported by', 'Falls within', 'Last outcome category', 'Context'

Using QuickDBD website I created a diagram for the **crimedb** data base:
![crimedb diagram](DB_Diagram.jpg)

The next step was to create **crimedb** data base in pgAdmin panel of PostgreSQL 18.0.
To add the table to the data base I use SQL code generated by QuickDBD website:

-- Exported from QuickDBD: https://www.quickdatabasediagrams.com/

```
	CREATE TABLE "crime_records" (
    "crime_num" varchar(80),
    "month" varchar(10),
    "longitude" numeric,
    "latitude" numeric,
    "location" varchar(100),
    "lsoa_id" int,
    "crime_id" int
);

CREATE TABLE "lsoa" (
    "lsoa_id" int,
	"lsoa_code" varchar(20) UNIQUE NOT NULL,
    "lsoa_name" varchar(50),
    CONSTRAINT "pk_lsoa" PRIMARY KEY (
        "lsoa_id"
     )
);

CREATE TABLE "crime_type" (
    "crime_id" int,
    "crime_type" varchar(80) UNIQUE NOT NULL,
    CONSTRAINT "pk_crime_type" PRIMARY KEY (
        "crime_id"
     )
);

ALTER TABLE "crime_records" ADD CONSTRAINT "fk_crime_records_lsoa_id" FOREIGN KEY("lsoa_id")
REFERENCES "lsoa" ("lsoa_id");

ALTER TABLE "crime_records" ADD CONSTRAINT "fk_crime_records_crime_id" FOREIGN KEY("crime_id")
REFERENCES "crime_type" ("crime_id");
```
The tables were successfully created.

### I got the crime data sets in the London area split in 17 files on the monthly base from 1/1/2024 till 30/6/2025.
My task now is to join these files creating a new dataframe:

In [3]:
import os

# Load all the .csv files in one Data frame
lnd_df = pd.DataFrame({})
for f_name in os.listdir('Crime_data/'):
    if f_name.endswith('.csv'):
        f_path = 'Crime_data/'+ f_name
        dfn = pd.read_csv(f_path)
        lnd_df = pd.concat([lnd_df, dfn])

In [ ]:
# Checking the new combined data
lnd_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13564 entries, 0 to 700
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Crime ID               13121 non-null  object
 1   Month                  13564 non-null  object
 2   Reported by            13564 non-null  object
 3   Falls within           13564 non-null  object
 4   Longitude              12347 non-null  float64
 5   Latitude               12347 non-null  float64
 6   Location               13564 non-null  object
 7   LSOA code              12347 non-null  object
 8   LSOA name              12347 non-null  object
 9   Crime type             13564 non-null  object
 10  Last outcome category  13121 non-null  object
 11  Context                0 non-null      float64
dtypes: float64(3), object(9)
memory usage: 1.3+ MB

In [23]:
# Clean the df from empty GEO data raws and drop insignificant coloumns: 'Reported by', 'Falls within', 'Last outcome category', 'Context'
lnd_final_df = lnd_df.loc[(lnd_df['Longitude'].isna() == False) & (lnd_df['Latitude'].isna() == False), ['Crime ID', 'Month', 'Longitude', 'Latitude', 'Location', 'LSOA code', 'LSOA name', 'Crime type']]
lnd_final_df.reset_index(drop=True, inplace=True)
lnd_final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12347 entries, 0 to 12346
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Crime ID    11970 non-null  object
 1   Month       12347 non-null  object
 2   Longitude   12347 non-null  float64
 3   Latitude    12347 non-null  float64
 4   Location    12347 non-null  object
 5   LSOA code   12347 non-null  object
 6   LSOA name   12347 non-null  object
 7   Crime type  12347 non-null  object
dtypes: float64(2), object(6)
memory usage: 771.8+ KB

In [24]:
# Create data frame of crime_id values to add them alongside of Crime type column. It is for the new Postgre data base.
crime_type_values = lnd_final_df["Crime type"].value_counts().sort_index().reset_index()
crime_type_values.rename(columns={'Crime type':'crime_type'}, inplace=True)
crime_type_values['crime_id'] = crime_type_values.index
crime_type_values = crime_type_values.drop('count', axis=1)
crime_type_values

                      crime_type  crime_id
0          Anti-social behaviour         0
1                  Bicycle theft         1
2                       Burglary         2
3      Criminal damage and arson         3
4                          Drugs         4
5                    Other crime         5
6                    Other theft         6
7          Possession of weapons         7
8                   Public order         8
9                        Robbery         9
10                   Shoplifting        10
11         Theft from the person        11
12                 Vehicle crime        12
13  Violence and sexual offences        13

In [25]:
# Backup of crime_type table:
crime_type_values.to_csv('Crime_data/Backups/Crime-type-table.csv')

In [26]:
# Create data frame of lsoa_id numeric values to add them to lsoa tabele in the new PostgreSQL data base.
lsoa_values = lnd_final_df[['LSOA code', 'LSOA name']]
lsoa_values = lsoa_values.groupby(['LSOA code', 'LSOA name'])
lsoa_values = lsoa_values.first().reset_index()
lsoa_values.rename(columns={'LSOA code':'lsoa_code', 'LSOA name':'lsoa_name',}, inplace=True)
lsoa_values['lsoa_id'] = lsoa_values.index
lsoa_values

     lsoa_code                  lsoa_name  lsoa_id
0    E01000001        City of London 001A        0
1    E01000002        City of London 001B        1
2    E01000003        City of London 001C        2
3    E01000005        City of London 001E        3
4    E01000013  Barking and Dagenham 013A        4
..         ...                        ...      ...
129  E01035702         Tower Hamlets 034C      129
130  E01035711                Camden 026E      130
131  E01035716           Westminster 013G      131
132  E01035718           Westminster 019G      132
133  W01001955               Swansea 025F      133

[134 rows x 3 columns]

In [27]:
# Backup of lsoa table:
lsoa_values.to_csv('Crime_data/Backups/LSOA-table.csv')

In [ ]:
# Add Key crime_id numeric values to the final data frame

def assign_indx_Value(row_passed):
    for i in crime_type_values.index:
        if row_passed['Crime type'] == crime_type_values['crime_type'][i]:
            # print(Crime_type_values['Crime type'][i])
            return i

    
lnd_final_df['crime_id'] = lnd_final_df.apply(assign_indx_Value, axis=1)
lnd_final_df

,Crime ID,Month,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,crime_id
0,e7b720d0e1302d2d06db7b28b29132eb194864d44d7921...,2024-01,-0.106220,51.518275,On or near B500,E01000916,Camden 027B,Theft from the person,11
1,e60a5ac62a80e866453254474137c3206417422c62f0c0...,2024-01,-0.107682,51.517786,On or near B521,E01000917,Camden 027C,Other theft,6
2,986f618142ec52b7f254e4b0549da2f17ceeb0e130db6c...,2024-01,-0.111596,51.518281,On or near Chancery Lane,E01000914,Camden 028B,Other theft,6
3,05dc27a88748356f6d59b0bd1389710ebfb42b37e565af...,2024-01,-0.111596,51.518281,On or near Chancery Lane,E01000914,Camden 028B,Theft from the person,11
4,373d78e2ccec5d05a547cd4bee19045a9e050042a0e6e7...,2024-01,-0.112096,51.515942,On or near Nightclub,E01000914,Camden 028B,Theft from the person,11
...,...,...,...,...,...,...,...,...,...
12342,939c6eb80f3c78132297368d75e8ebd13c5db0430f02aa...,2025-06,0.085390,51.565097,On or near Vicarage Lane,E01003756,Redbridge 023C,Other crime,5
12343,d83678eb60680f7bf0e32d910db10c15d483c49ebfb929...,2025-06,-0.059930,51.500478,On or near Bermondsey Wall East,E01004034,Southwark 007D,Other crime,5
12344,e927a00deaaed62f570476de92a91e6052005cb3d2a16d...,2025-06,-0.076142,51.518200,On or near Tenter Ground,E01004307,Tower Hamlets 015B,Theft from the person,11
12345,f9aaa74a691b7d1324442f010e66bf9e0e3f753cbc451b...,2025-06,-0.072542,51.513100,On or near Further/Higher Educational Building,E01032767,Tower Hamlets 021F,Robbery,9
12346,f90f61c1e2f97f3ea4697300afc9e1720fb558300522bb...,2025-06,-0.071708,51.506463,On or near St Katharine'S Way,E01004293,Tower Hamlets 027B,Other crime,5

In [ ]:
# Add Key lsoa_id numeric values to the final data frame

def assign_indx_Value(row_passed):
    for i in lsoa_values.index:
        if row_passed['LSOA code'] == lsoa_values['lsoa_code'][i]:
            # print(lsoa_values['lsoa_code'][i])
            return i

    
lnd_final_df['lsoa_id'] = lnd_final_df.apply(assign_indx_Value, axis=1)
lnd_final_df

,Crime ID,Month,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,crime_id,lsoa_id
0,e7b720d0e1302d2d06db7b28b29132eb194864d44d7921...,2024-01,-0.106220,51.518275,On or near B500,E01000916,Camden 027B,Theft from the person,11,10
1,e60a5ac62a80e866453254474137c3206417422c62f0c0...,2024-01,-0.107682,51.517786,On or near B521,E01000917,Camden 027C,Other theft,6,11
2,986f618142ec52b7f254e4b0549da2f17ceeb0e130db6c...,2024-01,-0.111596,51.518281,On or near Chancery Lane,E01000914,Camden 028B,Other theft,6,9
3,05dc27a88748356f6d59b0bd1389710ebfb42b37e565af...,2024-01,-0.111596,51.518281,On or near Chancery Lane,E01000914,Camden 028B,Theft from the person,11,9
4,373d78e2ccec5d05a547cd4bee19045a9e050042a0e6e7...,2024-01,-0.112096,51.515942,On or near Nightclub,E01000914,Camden 028B,Theft from the person,11,9
...,...,...,...,...,...,...,...,...,...,...
12342,939c6eb80f3c78132297368d75e8ebd13c5db0430f02aa...,2025-06,0.085390,51.565097,On or near Vicarage Lane,E01003756,Redbridge 023C,Other crime,5,59
12343,d83678eb60680f7bf0e32d910db10c15d483c49ebfb929...,2025-06,-0.059930,51.500478,On or near Bermondsey Wall East,E01004034,Southwark 007D,Other crime,5,64
12344,e927a00deaaed62f570476de92a91e6052005cb3d2a16d...,2025-06,-0.076142,51.518200,On or near Tenter Ground,E01004307,Tower Hamlets 015B,Theft from the person,11,82
12345,f9aaa74a691b7d1324442f010e66bf9e0e3f753cbc451b...,2025-06,-0.072542,51.513100,On or near Further/Higher Educational Building,E01032767,Tower Hamlets 021F,Robbery,9,108
12346,f90f61c1e2f97f3ea4697300afc9e1720fb558300522bb...,2025-06,-0.071708,51.506463,On or near St Katharine'S Way,E01004293,Tower Hamlets 027B,Other crime,5,77

In [30]:
# Rename columns to comply with the rullers
lnd_pre_final_df = lnd_final_df.rename(columns={'LSOA code':'lsoa_code', 'LSOA name':'lsoa_name','Crime type':'crime_type',
                                                'Crime ID':'crime_num','Month':'month', 'Location':'location',
                                                'Longitude':'longitude', 'Latitude':'latitude'})
lnd_pre_final_df

,crime_num,month,longitude,latitude,location,lsoa_code,lsoa_name,crime_type,crime_id,lsoa_id
0,e7b720d0e1302d2d06db7b28b29132eb194864d44d7921...,2024-01,-0.106220,51.518275,On or near B500,E01000916,Camden 027B,Theft from the person,11,10
1,e60a5ac62a80e866453254474137c3206417422c62f0c0...,2024-01,-0.107682,51.517786,On or near B521,E01000917,Camden 027C,Other theft,6,11
2,986f618142ec52b7f254e4b0549da2f17ceeb0e130db6c...,2024-01,-0.111596,51.518281,On or near Chancery Lane,E01000914,Camden 028B,Other theft,6,9
3,05dc27a88748356f6d59b0bd1389710ebfb42b37e565af...,2024-01,-0.111596,51.518281,On or near Chancery Lane,E01000914,Camden 028B,Theft from the person,11,9
4,373d78e2ccec5d05a547cd4bee19045a9e050042a0e6e7...,2024-01,-0.112096,51.515942,On or near Nightclub,E01000914,Camden 028B,Theft from the person,11,9
...,...,...,...,...,...,...,...,...,...,...
12342,939c6eb80f3c78132297368d75e8ebd13c5db0430f02aa...,2025-06,0.085390,51.565097,On or near Vicarage Lane,E01003756,Redbridge 023C,Other crime,5,59
12343,d83678eb60680f7bf0e32d910db10c15d483c49ebfb929...,2025-06,-0.059930,51.500478,On or near Bermondsey Wall East,E01004034,Southwark 007D,Other crime,5,64
12344,e927a00deaaed62f570476de92a91e6052005cb3d2a16d...,2025-06,-0.076142,51.518200,On or near Tenter Ground,E01004307,Tower Hamlets 015B,Theft from the person,11,82
12345,f9aaa74a691b7d1324442f010e66bf9e0e3f753cbc451b...,2025-06,-0.072542,51.513100,On or near Further/Higher Educational Building,E01032767,Tower Hamlets 021F,Robbery,9,108
12346,f90f61c1e2f97f3ea4697300afc9e1720fb558300522bb...,2025-06,-0.071708,51.506463,On or near St Katharine'S Way,E01004293,Tower Hamlets 027B,Other crime,5,77

In [48]:
# Backup of pre crime_records table:
lnd_pre_final_df.to_csv('Crime_data/Backups/2024-25-city-of-london-street.csv')

In [32]:
# Finalasing crime_records table by droping 3 unneeded columns: 'lsoa_code', 'lsoa_name', 'crime_type'. These columns are in 2 other tables.
crime_records = lnd_pre_final_df.drop(['lsoa_code', 'lsoa_name', 'crime_type'], axis=1)
crime_records

,crime_num,month,longitude,latitude,location,crime_id,lsoa_id
0,e7b720d0e1302d2d06db7b28b29132eb194864d44d7921...,2024-01,-0.106220,51.518275,On or near B500,11,10
1,e60a5ac62a80e866453254474137c3206417422c62f0c0...,2024-01,-0.107682,51.517786,On or near B521,6,11
2,986f618142ec52b7f254e4b0549da2f17ceeb0e130db6c...,2024-01,-0.111596,51.518281,On or near Chancery Lane,6,9
3,05dc27a88748356f6d59b0bd1389710ebfb42b37e565af...,2024-01,-0.111596,51.518281,On or near Chancery Lane,11,9
4,373d78e2ccec5d05a547cd4bee19045a9e050042a0e6e7...,2024-01,-0.112096,51.515942,On or near Nightclub,11,9
...,...,...,...,...,...,...,...
12342,939c6eb80f3c78132297368d75e8ebd13c5db0430f02aa...,2025-06,0.085390,51.565097,On or near Vicarage Lane,5,59
12343,d83678eb60680f7bf0e32d910db10c15d483c49ebfb929...,2025-06,-0.059930,51.500478,On or near Bermondsey Wall East,5,64
12344,e927a00deaaed62f570476de92a91e6052005cb3d2a16d...,2025-06,-0.076142,51.518200,On or near Tenter Ground,11,82
12345,f9aaa74a691b7d1324442f010e66bf9e0e3f753cbc451b...,2025-06,-0.072542,51.513100,On or near Further/Higher Educational Building,9,108
12346,f90f61c1e2f97f3ea4697300afc9e1720fb558300522bb...,2025-06,-0.071708,51.506463,On or near St Katharine'S Way,5,77

### The database is now ready to be loaded into PostgreSQL database.
I used sqlalchemy module to complete this task.

In [35]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Nichto1@localhost:5432/crimedb')

In [ ]:
# Loading crime_type table with the data from crime_type_values DB
try:
    crime_type_values.to_sql('crime_type', engine, if_exists="append", index=False)
except Exception as e:
    print(f'Error: {e}')

In [ ]:
# checking that the data was succesfully inserted
query = 'SELECT * FROM crime_type LIMIT 6;'
try:
    df = pd.read_sql(query, engine)
    print(df)
except Exception as e:
    print(f'Error: {e}')

   crime_id                 crime_type
0         0      Anti-social behaviour
1         1              Bicycle theft
2         2                   Burglary
3         3  Criminal damage and arson
4         4                      Drugs
5         5                Other crime

In [ ]:
# Loading lsoa table with the data from lsoa_values DB
try:
    lsoa_values.to_sql('lsoa', engine, if_exists="append", index=False)
except Exception as e:
    print(f'Error: {e}')

In [40]:
# checking that the data was succesfully inserted
query = 'SELECT * FROM lsoa LIMIT 6;'
try:
    df = pd.read_sql(query, engine)
    print(df)
except Exception as e:
    print(f'Error: {e}')

   lsoa_id  lsoa_code                  lsoa_name
0        0  E01000001        City of London 001A
1        1  E01000002        City of London 001B
2        2  E01000003        City of London 001C
3        3  E01000005        City of London 001E
4        4  E01000013  Barking and Dagenham 013A
5        5  E01000110  Barking and Dagenham 002C

In [43]:
# Loading crime_records table with the data from crime_records DB
try:
    crime_records.to_sql('crime_records', engine, if_exists="append", index=False)
except Exception as e:
    print(f'Error: {e}')

In [ ]:
# Checking that the data was successfully inserted.
query = 'SELECT * FROM crime_records LIMIT 6;'
try:
    df = pd.read_sql(query, engine)
    print(df)
except Exception as e:
    print(f'Error: {e}')

                                           crime_num    month  longitude  \
0  e7b720d0e1302d2d06db7b28b29132eb194864d44d7921...  2024-01  -0.106220
1  e60a5ac62a80e866453254474137c3206417422c62f0c0...  2024-01  -0.107682
2  986f618142ec52b7f254e4b0549da2f17ceeb0e130db6c...  2024-01  -0.111596
3  05dc27a88748356f6d59b0bd1389710ebfb42b37e565af...  2024-01  -0.111596
4  373d78e2ccec5d05a547cd4bee19045a9e050042a0e6e7...  2024-01  -0.112096
5  85fc7e4e213c6ba2f084c41321c3fb3958bef5c4cd45af...  2024-01  -0.096367

    latitude                  location  lsoa_id  crime_id
0  51.518275           On or near B500       10        11
1  51.517786           On or near B521       11         6
2  51.518281  On or near Chancery Lane        9         6
3  51.518281  On or near Chancery Lane        9        11
4  51.515942      On or near Nightclub        9        11
5  51.515355    On or near Foster Lane        0         2

### The last step to insert the data sets into the database was completed.
The next step is to read data from the data base, analyse it and plot the crime locations on the London GEO map.
The task is explained in the second Notebook called "London_Crime_2.ipynb"